<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type='text/css' href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> 
  <title>Morning Coffee Marketing</title>
</head>
<body>
  <div class="container">
  <div class='header'>
    <img src="https://static.wixstatic.com/media/7bad95_0c4db18a6c0644ca98942ce824cefaf9~mv2.png/v1/fill/w_196,h_57,al_c,q_80,usm_0.66_1.00_0.01/7bad95_0c4db18a6c0644ca98942ce824cefaf9~mv2.webp" alt="Morning Coffee Marketing logo" class="logo">
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/reviews" class="active">Reviews</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
      <a class="fa fa-facebook" href="https://www.facebook.com/MorningCoffeeMarketing/" target="_blank"></a>
      <a class="fa fa-twitter" href="https://twitter.com/morningcoffeemk" target="_blank"></a>
      <a class="fa fa-instagram" href="https://www.instagram.com/morningcoffeemarketing/" target="_blank"></a>

    </ul>
  </div>
  <div class="reviews" id="reviews">
    <h1 class="review-title">Reviews</h1>
    <div class="reviews-content">
      <div class="review review1">
        <div class="review-heading">Angela, Realtor:</div>
        <hr>
        <div class="review-body">"I am relatively new to the real estate industry and with the high demand my
          business requires of me, it can get a bit overwhelming at times to say the least. So when Morning Coffee
          Marketing contacted me and explained what the company has to offer, I was willing to give them a shot. And
          let me tell you, I am so happy that I did!! <br><br>
          Sandra is very knowledgeable with social media marketing and advertising, (plus very trustworthy might I
          add) which in turn, makes me look good!! Lol I can't be more happy with the decision I made almost four
          months ago to let her do her magic with helping me grow my business!! <br><br>
          Looking forward to a long-term business relationship for years to come with Morning Coffee Marketing."
        </div>
        </div>
        <div class="review review2">
        <div class="review-heading">Benjamin, Talent Specialist</div>
        <hr>
        <div class="review-body">"Morning Coffee Marketing manages our social media marketing and writes blogs for
          The Pre-Check Company and The Pre-Select Company. <br><br>
          All the work they have done for us is phenomenal, and we greatly appreciate the timely turnaround and
          quick communication. Sandra is wonderful to work with, and we're looking forward to a long relationship
          with Morning Coffee Marketing. <br><br>
          Thanks for all you do!"
        </div>
        </div>
        <div class="review review3">
        <div class="review-heading">Lenore, Photographer:</div>
        <hr>
        <div class="review-body">"I met Sandra at a women's networking luncheon and I knew she was right for us. I
          own PictureTakers Photography studio and she has helped us with our social media, newsletters and much
          more. She is perfect for getting right in and helping out. I just send her a note and voila it is done.
          She has a great handle on my social media advertising, manages my Facebook and Instagram accounts and
          response immediately to my clientele inquiries. <br><br>
          Sandra could also help your business to get to the next level. She is so energetic and spunky, such a joy
          to know."
        </div>
        </div>
        <div class="review review4">
        <div class="review-heading">Peg & Bob, Realtors:</div>
        <hr>
        <div class="review-body">"Bob and I want to send a shout out to Sandra and her great social media marketing
          expertise! It's never too late to learn new marketing strategies, and Sandra has taught us just that! She
          has taught us how to enhance our Facebook presence, write blogs and tweets, as well as the importance of
          how all of these platforms work together in our real estate marketing. <br><br>
          Thanks Sandra for all of your creative ideas and energy!"
        </div>
      </div>
    </div>
  </div>
</div>
</body>