<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type='text/css' href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> 
  <title>Morning Coffee Marketing</title>
</head>
<body>
  <div class="container">
  <div class='header'>
    <img src="https://static.wixstatic.com/media/7bad95_0c4db18a6c0644ca98942ce824cefaf9~mv2.png/v1/fill/w_196,h_57,al_c,q_80,usm_0.66_1.00_0.01/7bad95_0c4db18a6c0644ca98942ce824cefaf9~mv2.webp" alt="Morning Coffee Marketing logo" class="logo">
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/solutions" class="active">Solutions</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
      <a class="fa fa-facebook" href="https://www.facebook.com/MorningCoffeeMarketing/" target="_blank"></a>
      <a class="fa fa-twitter" href="https://twitter.com/morningcoffeemk" target="_blank"></a>
      <a class="fa fa-instagram" href="https://www.instagram.com/morningcoffeemarketing/" target="_blank"></a>

    </ul>
  </div>
  <div class="solutions" id="solutions">
    <h1 class="title">
      Solutions We Offer
    </h1>
    <div class="solution">
      <i class='fa fa-edit fa-5x'></i>
      <h3>Content Creation</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste aliquid quae dicta iure quod quibusdam culpa amet totam omnis earum. Similique in dolores amet accusantium sequi, aliquid autem, esse enim veritatis, ipsam consectetur accusamus reprehenderit doloremque distinctio voluptatem eaque laboriosam aut soluta fugit minus vero dicta a quidem praesentium. Alias!</p>
    </div>
    <div class="solution">
      <i class='fa fa-envelope-open fa-5x'></i>
      <h3>Email & Blogging</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste aliquid quae dicta iure quod quibusdam culpa amet totam omnis earum. Similique in dolores amet accusantium sequi, aliquid autem, esse enim veritatis, ipsam consectetur accusamus reprehenderit doloremque distinctio voluptatem eaque laboriosam aut soluta fugit minus vero dicta a quidem praesentium. Alias!</p>
    </div>
    <div class="solution">
      <i class='fa fa-paint-brush fa-5x'></i>
      <h3>Graphic Designers</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste aliquid quae dicta iure quod quibusdam culpa amet totam omnis earum. Similique in dolores amet accusantium sequi, aliquid autem, esse enim veritatis, ipsam consectetur accusamus reprehenderit doloremque distinctio voluptatem eaque laboriosam aut soluta fugit minus vero dicta a quidem praesentium. Alias!</p>
    </div>
    <div class="solution">
      <i class='fa fa-code fa-5x'></i>
      <h3>Web Developers</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste aliquid quae dicta iure quod quibusdam culpa amet totam omnis earum. Similique in dolores amet accusantium sequi, aliquid autem, esse enim veritatis, ipsam consectetur accusamus reprehenderit doloremque distinctio voluptatem eaque laboriosam aut soluta fugit minus vero dicta a quidem praesentium. Alias!</p>
    </div>
  </div>
</div>
</body>