html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

input {
  width: 100%
}

textarea {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

hr {
  width: 90%;
  border: 1px black solid;
  margin-left: 0;
}

.contact-modal {
  padding: 1rem;
  height: 80%;
  width: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px #000 solid;
  background-color: #a38068;
  color: #000;
  border-radius: 10px;
  box-shadow: 5px 5px 8px;
  opacity: 0;
  pointer-events: none;
}

.contact-modal > p {
  text-align: center;
}

.input {
  width: 98%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'header'
    'content'
    'footer';
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'logo . navbar';
  grid-area: header;
  background-color: #fff;
  max-height: 15vh;
  padding: 1rem 0;
}

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
}

.navbar {
  grid-area: navbar;
  justify-self: right;
  align-self: end;
  list-style-type: none;

}

.navbar li {
  margin: 1rem;
  display: inline;
}

.navbar li a {
  text-decoration: none;
  margin: none;
  color: #4f3724;
  padding: .5rem;
}

.navbar li a:hover {
  color: #a38068;
}

.navbar a.active {
  color: #a38068;
}

.fa {
  color: #a38068;
  margin: 0 1rem;
  text-decoration: none;
}

a.fa-facebook:hover {
  color: #3b5998;
}

a.fa-twitter:hover {
  color: #1da1f2;
}

a.fa-instagram:hover {
  color: #3f729b;
}

.content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'banner'
    'services'
    'about'
    'footer';
  height: 100vh;
  background-color: #a38068;
}

.banner {
  background-image: url('https://static.wixstatic.com/media/7bad95_e460908fdead4118b8bed2b91f858841~mv2.jpg/v1/fill/w_1349,h_600,al_c,q_85,usm_0.66_1.00_0.01/7bad95_e460908fdead4118b8bed2b91f858841~mv2.webp');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-img {
  width: 100%;
  grid-area: 'banner';
}

.solution-banner-main {
  background-color: #a38068;
  grid-area: services;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;
}

.solution-banner {
  background-image: url('https://static.wixstatic.com/media/561197a90e6d4a6bb1cf92609952eb46.jpg/v1/fill/w_1349,h_400,al_c,q_85,usm_0.66_1.00_0.01/561197a90e6d4a6bb1cf92609952eb46.webp');
  grid-area: banner;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40%;
  width: 40%;
  margin: 0 3rem;
}

.banner-heading {
  color: #4f3724;
  font-size: 3rem;
  text-align: right;  
  margin-right: 1rem;
}

.banner-subheading {
  color: #654321;
  font-style: italic;
  text-align: right;
  margin-right: 1rem;
}

.banner-btn-cont {
  text-align: right;
  margin-right: 1rem;
}

.banner-btn {
  border: 1px #4f3724 solid;
  background: none;
  color: #4f3724;
  padding: .5rem;
  margin: 1rem;
  border-radius: 5px;
}

.banner-btn:hover {
  cursor: pointer; 
  background-color: #a38068;
  border: 1px #a38068 solid;
}

.about {
  width: 100%;
  background: #fff;
  padding: 1rem 0;
}

.about-heading {
  width: 50%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.about-heading h2 {
  margin-left: .5rem;
  font-weight: bold; 

}

.solution {
  margin: 1rem 3rem;
}

.solution > i {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.solution > h3 {
  width: 100%;
  margin: .5rem auto;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 auto;  
}

.home-img {
  margin: .5rem;
}

.home-img-cont h3 {
  margin-left: .5rem;
}

.about-desc {
  margin-left: 2rem;
}

.fa-edit {
  color: #000;
}

.fa-envelope-open {
  color: #000;
}

.fa-paint-brush {
  color: #000;
}

.fa-code {
  color: #000;
}

.reviews {
  display: grid; 
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'header'
    'banner'
    'reviews'
    'footer';
}

.review-banner {
  background-image: url('https://static.wixstatic.com/media/2e8ee11a9dd04e7cafa6fac0bc175ee5.jpg/v1/fill/w_1349,h_400,al_b,q_85,usm_0.66_1.00_0.01/2e8ee11a9dd04e7cafa6fac0bc175ee5.webp');
  grid-area: banner;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.review-banner-content {
  margin: 3rem 3rem;
}

.review-banner-content h2 {
  font-size: 3rem;
}

.review-banner-content h3 {
  font-size: 2rem;
  font-style: italic;
}

.reviews-content {
  background-color: #a38068;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'title title'
    'review1 review2'
    'review3 review4'
    'more more'
    ;
}

.review {
  margin: 1rem;
  background-color: rgba(255, 255, 255, .8);
  padding: 1rem;
  box-shadow: 5px 5px 8px;
}

.review-heading {
  grid-area: title;
  font-style: italic;
  font-size: 1.5rem;
}

.review1 {
  grid-area: review1;
}

.review2 {
  grid-area: review2;
}

.review3 {
  grid-area: review3;
}

.review4 {
  grid-area: review4;
}

.read-more {
  grid-area: more;
  margin-left: 2rem;
}

.read-more a {
  color: #000;
  font-size: 1.5rem;
}

.read-more a:hover {
  color: #a38068;
}

.blog {
  display: flex;
  background-color: #a38068;
  padding: 1rem;
  grid-area: content;
  flex-direction: column; 
  align-items: center;
}

.blog-article {
  margin: 1rem;
  background-color: rgba(255, 255, 255, .8);
  padding: 1rem;
  width: 60%;
  box-shadow: 5px 5px 8px; 
}

.blog-article img {
  max-width: 300px;
}

.blog-title {
  text-decoration: none;
  color: #4f3724;
}

.blog-title:hover {
  text-decoration: underline;
}

.contact {
  padding: 3rem .5rem;
}

.footer {
  grid-area: footer;
  background-color: #ddd;
}

.footer-info {
  text-align: center;
  padding-bottom: .5rem;
}

#menu-contact:hover {
  cursor: pointer;
}